.container{
    text-align: center;
    padding-top: 100px;
    border:solid;
    width:fit-content;
    height:fit-content;
    padding:0;

}

table{
    padding:5px;
    text-align: center;
    padding-left: 75px;
}


